<% include ../partials/header %>



<div class='container'>
	<div class='row'>
		<div class='col-md-4'>
			<p class ='lead'>YelpCamp</p>
			<div class='list-group'>
				<li class='list-group-item active'>Info 1</li>
				<li class='list-group-item'>Info 2</li>
				<li class='list-group-item'>Info 3</li>
			</div>
			<div id="map"></div>
		</div>
		<div class='col-md-8'>
			<div class='thumbnail'>
				<img class='img-responsive' src='<%= campground.image %>'>
				<div class='caption'>
					<h4 class='pull-right'>$<%= campground.price %>/Night</h4>
					<h4><a href=''><%= campground.name %></a></h4>
					<h4 class='pull-right'>
						<%= campground.location %>
					</h4>
					<p><%= campground.description %></p>
					<p>
						<em>Submitted by - <a href='/users/<%= campground.author.id %>'><%= campground.author.username %></a></em>
						<span class='pull-right'>Campground added on <%= campground.created.toDateString() %></span>
					</p>
					<% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
							<a class='btn btn-xs btn-warning' href='/campgrounds/<%= campground._id %>/edit'>Edit Campground</a>
							<form action='/campgrounds/<%= campground._id %>?_method=DELETE' method='POST' class='delete-form pull-right'>
								<button class='btn btn-xs btn-danger'>Delete</button>
							</form>
						
					<% } %>
				</div>
			</div>
			<div class='well'>
				<div class='text-right'>
					<a class='btn btn-success' href='/campgrounds/<%= campground._id %>/comments/new'>Create a Comment!</a></div>
				<hr>
					<% campground.comments.forEach(comment => { %>
						<div class='row'>
							<div class='col-md-12'>
								<strong><%= comment.author.username %></strong>
								<span class='pull-right'><%= comment.created.toDateString() %></span>
								<p> - <%= comment.text %></p>
							<% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
								<div class='pull-right'>
									<a class='btn btn-xs btn-warning' 
									   href='/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit'>Edit Comment</a>
									<form action='/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE' method='POST' class='delete-form'>
										<button class='btn btn-xs btn-danger'>
											Delete
										</button>
									</form>
								</div>
							<% } %>
							</div>
						</div>
					<% }); %>	
				</div>
			</div>
		</div>
	</div>
</div>

<script>
  function initMap() {
	var lat;
	var lng;
	geocoder.geocode(req.body.location, (err, data) => {
		var lat = data[0].latitude,
			  lng = data[0].longitude;

	});
    
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoYmZz75qx3i7dqPb6jeAZPR8E50XafCw&callback=initMap"></script>


<% include ../partials/footer %>